.custom-badge-img {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  vertical-align: middle;
  border-radius: 4px;
  display: inline-block;
}

.userNameContainer_3qH0y {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.userName_2Rhmz {
  margin-left: 2px;
}

.message_1Ng5r > div {
  position: relative;
}

.custom-time-right {
  position: absolute;
  top: 6px;     
  right: 40px;  
  font-size: 0.75rem; /
  color: #9a9a9a;
  z-index: 1;

}
